<footer class="main-footer">
  <div class="container">
    <nav class="main-menu footer-menu">
{% include /main-menu.html %}
    </nav>
    <nav class="soc">
      <ul>
{{ site.soc }}
      </ul>
    </nav>
  </div>
</footer>
<footer class="bottom-footer">
  <div class="containter text-center">
    <div class="footer-copy">{{ site.time | date: '%Y'}} EVOTOR CENTER</div>
    <p class="footer-copy">{{ site.copyright }}</p>
  </div>
</footer>

<script src="js/libs.min.js"></script>
<!-- <script data-ad-client="ca-pub-4507606736736575" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- <script src="js/common.js"></script> -->
<script id="dsq-count-scr" src="//evotorcenter-ru.disqus.com/count.js" async></script>
</body>
</html>