<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <base href="{{ site.baseurl }}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:image" content="{{ page.image}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="theme-color" content="{{ site.themecolor }}">
		<meta name="description" content="{{ page.description }}">
    <title>{{ page.title}} | {{ site.title }}</title>
    
    <link rel="stylesheet" href="css/main.min.css">

</head>
<body class="ispage">