{% include /header-home.html %}
{% include /top-line.html %}
  
  <div class="pattern pattern-cat-header">
    <div class="cat-header header-about">
      <div class="cat-header-block">
        <h1>о сайте evotorcenter.ru</h1>
      </div>
    </div>
  </div>

  <div class="article-content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-8">
          <article class="main-article">
            <div class="article-body">

              <p>По вопросам оказания услуг вы можете обратиться к нашим специалистам по телефону +7 (961) 901-50-01 или написать на почту centerevotor@gmail.com</p>

            </div>
          </article>
        </div>

        <div class="col-md-4">
{% include /category-aside.html %}
        </div>


      </div>
    </div>
  </div>

{% include /footer.html %}
